*,*::before,*::after {
    box-sizing: inherit;
    max-width: inherit;
    max-height: inherit;
}

html {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

img {
    border-radius: 3px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;
    color: #CFE0FE;
    font-family: 'Lato', sans-serif;

}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

nav span {
    padding: 0.15rem 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

header a {
    color: currentColor;
}

header nav > a > span:hover {
    background-color: darkslateblue;
}

header > a:has(span) {
    text-decoration: none;
    margin-bottom: 1rem;
}

header > a > span {
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
    border-radius: 4px;
}

header > a > span {
    background-color: midnightblue;
}

main {
    width: clamp(20rem, 1500px, 80vw);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    /* IDK it's just simpler and better this way. */
    display: flex;
    flex-direction: column;
}

section {
    width: clamp(20rem, 1500px, 80vw);
}

h2 {
    text-align: center;
    border-bottom: 2px solid currentColor;
    padding-bottom: 0.75rem;
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo {
    display: flex;
    flex-direction: column;


}

.photo img {
    padding-bottom: 0.75em;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}

.span2 {
    grid-column: span 2;
}

footer {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

